@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
